<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css" />
		<link rel="stylesheet" href="main.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/2.3.1/vuex.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.7.0/vue-router.min.js"></script>
	</head>
	<body>

		<div :class='appClass' id="app">
			<topbar></topbar>
			<router-view></router-view>
		</div>

		<script type="text/x-template" id="intro">
			<div class="intro screen">
				<div class="nomargin inner">
					<div class='nomargin logo img' style="background-image:url(./img/logo.png);"></div>
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">

								<div class='img' style="background-image:url(./img/welcome-1.png);"></div>
								<h1 class='center'>Welcome</h1>
								<p class="text center">
									This is the æxistence. This æpp enables you to proof the existance of digital files on the æternity blockchain and share it with other poeple.
								</p>
								<div class="pink next button">
									Next
								</div>

							</div>
							<div class="swiper-slide">

								<div class='img' style="background-image:url(./img/welcome-2.png);"></div>

								<h1 class='center'>Proofs</h1>
								<p class="text center">
								Proofs are unchallengeable evidence that a file existed at a specific time in the past. They are immutable and resistent to manipulation.
								</p>
								<div class="pink next button">
									Next
								</div>

							</div>
							<div class="swiper-slide">

								<div class='img' style="background-image:url(./img/welcome-3.png);"></div>

								<h1 class='center'>Welcome</h1>
								<p class="text center">
									In order to create proofs you need to identify with the Identity Manager. Please download it from the App Store and set up your identity.
								</p>
								<div class="pink button">
									<router-link to="/home">
										Open Identity Manager
									</router-link>
								</div>

							</div>
						</div>
						<div class="center notice">
							<router-link to="/home">skip</router-link>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
		</script>

		<script type="text/x-template" id="avatar">
			<div :style='style' class="avatar"></div>
		</script>

		<script type="text/x-template" id="identity">
			<div @click='toggle' :class="{identity:true, collapsed : collapsed}">
				<div class="left">
					<avatar :image='identity.avatar'></avatar>
					<div class="account-info">
						<div class="name">{{identity.name}}</div>
						<div class="address">{{identity.address}}</div>
					</div>
				</div>
				<div class="right">
					<div class="balance">
						<span class="amount">{{identity.balance}}</span>
						<span class="currency-symbol">AET</span>
					</div>
				</div>
			</div>
		</script>

		<script type="text/x-template" id="speech">
			<div class="speech-container">
				<div :class="thisclass">
					<p class='text' v-if='body.type === 0'>{{body.text}}</p>
					<div class='image' :style='style' v-if='body.type === 1'></div>
				</div>
			</div>
		</script>

		<script type="text/x-template" id="menu-entry">
			<div class="menu-entry">
				<router-link :to="link">
					{{label}}
				</router-link>
			</div>
		</script>

		<script type="text/x-template" id="topbar">
			<div :class="thisclass">
				<header>
					<div class="action left">
						<button @click='toggleopen'>
							<svg class='burger' width="20" height="14" viewBox="0 0 20 14" xmlns="http://www.w3.org/2000/svg">
								<path fill="#4A4A4A" fill-rule="evenodd" d="M0 0h20v2H0zM0 6h20v2H0zM0 12h20v2H0z"/>
							</svg>
						</button>
						<!--<svg class='back' width="11" height="18" viewBox="0 0 11 18" xmlns="http://www.w3.org/2000/svg">-->
							<!--<path d="M11 2L9 0 0 9l9 9 2-2-7-7z" fill="#4A4A4A" fill-rule="evenodd"/>-->
						<!--</svg>-->
					</div>

					<div class="title center">{{title}}</div>

					<div class="action right">
						<router-link v-show='addVisible' to='/new'>
							<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<g fill="#4A4A4A" fill-rule="evenodd"><path d="M0 9h20v2H0z"/><path d="M11 0v20H9V0z"/></g>
							</svg>
						</router-link>
					</div>
				</header>
				<identity/>
				<nav>
					<div class="inner">
						<div class="center">
							<avatar :image='identity.avatar'></avatar>
							<div class="name">
								{{identity.name}}
							</div>
						</div>
						<menu-entry :link='entry.link' :label='entry.label' v-for='entry in entris'></menu-entry>
					</div>
				</nav>
			</div>
		</script>

		<script type="text/x-template" id="camera">
			<div v-if='show' @click='close' class="camera">
				<div class="image"></div>
			</div>
		</script>

		<script type="text/x-template" id="proofs-list-entry">
			<router-link :to='"/proofs/"+proof.id'>
				<div class="proofs-list-entry">
					<div class="left">
						<div :style='"background-image:url(" +proof.image+ ")"' class="proof-image">
						</div>
					</div>
					<div class="middle">
						<div class="proof-title">{{ proof.title}}</div>
						<div class="proof-created">{{ proof.created}}</div>
					</div>
					<div class="right">
						<div class="proof-confirmations">{{ proof.confirmations}} confirmed</div>
					</div>
				</div>
			</router-link>
		</script>

		<script type="text/x-template" id="proof">
			<div class="screen proof">

				<div :class="{'proof-image' :true, image: true, fullscreen : cssClass.image.fullscreen}" @click='toggleImage' :style='"background-image:url(" +proof.image+ ")"'></div>

				<div class="columns">
					<div class="column">
						<div class="proof-title">{{ proof.title}}</div>
						<div class="proof-created">{{ proof.created}}</div>
					</div>
					<div class="column">
						<div class='proof-confirmations'>{{ proof.confirmations }} confirmations</div>
					</div>
				</div>

				<table>
					<tr>
						<td>Contract</td>
						<td class='proof-contract'>{{ proof.contract }}</td>
					</tr>
					<tr>
						<td>Verified</td>
						<td class='proof-verified'>{{ proof.verified }}</td>
					</tr>
					<tr>
						<td>Block</td>
						<td class='proof-block'>{{ proof.block }}</td>
					</tr>
					<tr class='sep'>
						<td colspan=2><hr></td>
					</tr>
					<tr>
						<td>File Sha256</td>
						<td class='proof-fileSha256'>{{ proof.fileSha256 }}</td>
					</tr>
					<tr>
						<td>File Type</td>
						<td class='proof-fileType'>{{ proof.fileType }}</td>
					</tr>
					<tr>
						<td>File Size</td>
						<td class='proof-fileSize'>{{ proof.fileSize }}</td>
					</tr>
					<tr>
						<td>File Location</td>
						<td class='proof-fileLocation'>{{ proof.fileLocation }}</td>
					</tr>
				</table>
			</div>
		</script>

		<script type="text/x-template" id="proofs-list">
			<div class="screen">
				<div class="proofs-list">
					<proofs-list-entry :proof='proof' v-for='proof in proofs'></proofs-list-entry>
				</div>
			</div>
		</script>

		<script type="text/x-template" id="new">
			<div class="screen">
				<div id='conv' class="nomargin conversation-container">
					<speech :body='message.body' :sender='message.sender' v-for='message in messages'></speech>
					<div v-show='showti' class="app speech typing-indicator">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<div v-show='showresp' @click='resp(1)' class="response">
					<div v-if='i == 0' class="answer-group">
						<button class='answer'><span class="e">🤔</span> Why?</button>
						<button class='answer'><span class="e">📷</span> Picture</button>
						<button class='answer'><span class="e">📄</span> File</button>
					</div>
					<div v-if='i == 3' class="answer-group">
						<input value='rental car damage' type="text">
						<button @click='resp(1)' class='send'>Send</button>
					</div>
				</div>
				<camera @picture='pictureTaken' :show='showCamera'></camera>
			</div>
		</script>

		<script type="text/x-template" id="home">
			<div class="home screen">
				<h1 class='center'>Success</h1>
				<p class="text center">
					This is the æxistence. This æpp enables you to proof the existance of digital files on the æternity blockchain and share it with other poeple.
				</p>
				<div class="pink next button">
					<router-link to="/new">
						Create first proof
					</router-link>
				</div>
			</div>
		</script>

	</body>
	<script src="main.js"></script>
</html>
